<div class="container-fluid">
  <h1 class="twilioheading text-center">TWILIO</h1><br/>
  <ul class="listdecorations text-center">
    <li><%= link_to "SignUp", new_user_registration_path, class:"btn"%></li><br/><br/>
    <li><%= link_to "LogIn", user_session_path, class:"btn"%></li>
  </ul>
</div>
